<html>
    <head>
        <meta charset="UTF-8">

        <title>techScrape</title>
        <link type ="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
        <link type ="text/css" rel="stylesheet" href="../../public/css/style.css">

    </head>

    <script type="text/x-handlebars-template" id = "entry-template"></script>
        <body>

            {{{ body }}}

        </body>

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src = "/js/scrape.js"></script>
    
</html>